body {
  margin: 0;
}

.grid {
  height: 100dvh;
  display: grid;
  grid-template-columns: 48px auto;
  transition: 300ms;
}

.left {
  background: #ffe2e2;
}

.right {
  background: #ffc7c7;
}

.grid-open {
  transition: 300ms ease-in-out;
  grid-template-columns: 80% auto;
}

.menu-btn {
  height: 3rem;
  background-color: #ffe2e2;
  cursor: pointer;
  background: center no-repeat url('./menu.png');
  background-size: 2rem;
  transition: all 0.1s ease-in-out;
}

.btn-container-open {
  background: right no-repeat url('./close.png');
  background-size: 2rem;
  background-position: right 0.5rem top 0.5rem;
  transition: all 0.1s ease-in-out;
}
